In [1]:
# @title Data manipulation with Python
import pandas as pd

url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
df = pd.read_csv(url)

In [2]:
# @title menampilkan dataset
print(df.shape)
df.head()
display (df.head())

(891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
# @title melihat missing value
df.isnull() .sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
# @title Menghapus Kolom yang tidak relevan untuk pelatihan model
kolom_sampah = ['PassengerId', 'Name', 'Ticket', 'Cabin']
df_bersih = df.drop(columns=kolom_sampah)

In [5]:
# @title Menangani missing value pada kolom age
median_umur = df_bersih['Age'].median()
df_bersih['Age'] = df_bersih['Age'].fillna(median_umur)

In [6]:
# @title Menghapus sisa baris yang masih memiliki missing values (misal ada 2 baris kosong di
# kolom 'Embarked')
df_bersih = df_bersih.dropna()

In [14]:
# @title Melihat kembali sum of missing value
df_bersih.isnull() .sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [15]:
# @title One hot encoding kalo kategoorikal
df_final = pd.get_dummies(df_bersih, columns=['Sex', 'Embarked'], drop_first=True)

In [16]:
# @title normalisasi menggunakan min max scaler
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_final_scaled = scaler.fit_transform(df_final)

In [12]:
# @title tampilkan kembali hasil data final
display(df_final_scaled)

array([[0.        , 1.        , 0.27117366, ..., 1.        , 0.        ,
        1.        ],
       [1.        , 0.        , 0.4722292 , ..., 0.        , 0.        ,
        0.        ],
       [1.        , 1.        , 0.32143755, ..., 0.        , 0.        ,
        1.        ],
       ...,
       [0.        , 1.        , 0.34656949, ..., 0.        , 0.        ,
        1.        ],
       [1.        , 0.        , 0.32143755, ..., 1.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.39683338, ..., 1.        , 1.        ,
        0.        ]], shape=(889, 9))